@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pasting in some default pagination css stylings for conveinence */
.pagination {
  display: flex;
  justify-content: auto;
  list-style: none;
  cursor: pointer;
  margin: 2rem;
}

.pagination a {
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #df5050;
  color: #df5050;
}

.pagination__link--active a {
  color: #fff;
  background: #df5050;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
